body {
  text-align: center;
  background-color: #131314;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: 'Cormorant Unicase', serif;
  text-shadow: 3px 0 #4b4b4b;
  text-transform: uppercase;
  letter-spacing: 2px;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");

}

.s {
  background-image: url("images/tom3.png");

}

.d {
  background-image: url("images/tom4.png");

}

.j {
  background-image: url("images/snare.png");

}

.k {
  background-image: url("images/kick.png");

}

.l {
  background-image: url("images/crash.png");

}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #000000;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #850000;
  text-shadow: 3px 0 #181818;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(109, 109, 109);
}
